<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ks.modernapplocker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.ks.modernapplocker.common.ModernAppLocker"
        android:allowBackup="true"
        android:icon="@drawable/app_locker"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- <activity -->
        <!-- android:name="com.ks.modernapplocker.LockActivity" -->
        <!-- android:label="@string/app_name" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.ks.modernapplocker.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Alp.MYTheme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ks.modernapplocker.AppListActivity"
            android:label="@string/app_name"
            android:theme="@style/Alp.MYTheme.Light" >
        </activity>
        <activity
            android:name="com.ks.modernapplocker.LockActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Alp.MYTheme.Light" />
        <activity
            android:name="com.ks.modernapplocker.DialogActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.ks.modernapplocker.LoginActivity"
            android:label="@string/app_name" />

        <service android:name="com.ks.modernapplocker.service.AppStartListenerService" />
        <service android:name="com.ks.modernapplocker.service.ForegroundService" />
        <service android:name="com.ks.modernapplocker.service.CameraService" />

        <receiver
            android:name="com.ks.modernapplocker.receiver.AppStartReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.ks.modernapplocker.APP_START" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.KeepAliveReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.PhoneCallReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.UpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>